<!DOCTYPE html>
<html>
<head>
	<title>{% block metatitle %}{% endblock metatitle %}</title>
	<link rel="stylesheet" href="{{ asset('styles/style.css') }}" type="text/css" />

</head>
<body>

	<header class="header">

		<a href="{{ path('home') }}">
			<img class="logo-header" src="{{ asset('img/logo.jpg') }}" alt="logo" />
		</a>

		<nav class="nav-header">

			<ul class="nav-menu">

				<li><a href="{{ path('home') }}">Accueil</a></li>
				<li><a href="{{ path('list-articles') }}">Liste des articles</a></li>
				<li><a href="{{ path('create-article') }}">Créer un article</a></li>
			</ul>


		</nav>

	</header>


<main class="main">

{% for message in app.flashes('success') %}
<div class="success-message">
<p>{{message}}</p>
</div>
{% endfor %}

	{% block main %} 

	{% endblock main %}

</main>

<footer class="footer">



</footer>
</body>
</html>